<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div ng-controller="getLocation" data-ng-init="init()">
    <form class="form-inline">

        <div class="row">
            <div class="col-md-6">
                &nbsp;<label>Search:</label>
                <input type="text" class="form-control" ng-model="searchKeyword" placeholder="Enter event keywords" style="width: 75%;">
                <button type="button" class="btn btn-primary active" ng-click="search()" style="width: 15%;">Find</button>
            </div>
            <div class="col-md-6">
                <div class="input-group" style="width: 60%">
                    <input type="text" googleplace class="form-control" ng-model="searchQuery" placeholder="Change location">
                </div>

                <label>Distance:</label>
                <input type="text" class="form-control" ng-model="range" style="width: 8%">&nbsp;miles
                <button type="button" class="btn btn-primary active" ng-click="search()" style="width: 14%;">Apply</button>
            </div>
        </div>

        <div class="row" style="padding-top: 1%;">
            <div class="col-md-6">
                &nbsp;<label>Filter: </label>&nbsp;&nbsp;
                <select name="categorySelect" id="categorySelect" class="form-control"
                        ng-options="cat.name | ampersand for cat in categoriesData.category track by cat.id"
                        ng-model="category"
                        ng-change="search()">
                    <option value="">-- Select Category --</option>
                </select>
                <!--<div class="col-md-1"></div>-->
                <label style="padding-left: 13%;">Sort by: </label>
                <select name="sorting" id="sorting" class="form-control"
                        ng-options="type for type in sortOptions track by type"
                        ng-model="sortOrder"
                        ng-change="search()">
                    <option value="Popularity">-- sort by --</option>
                </select>
            </div>
            <div class="col-md-6" style="text-align: center; padding-top: 20px; color: lightskyblue;">
                <label>Please click on the marker to view event details...</label>
            </div>
        </div>
    </form>
    <br>
    <div class="row">

        <!-- <p> latitude : {{userlat}} </p>
         <p> longitude : {{userlong}} </p>-->

        <!--<p ng-show="visibility"> Search Query : {{searchQuery}} </p>-->
        <!-- <td> {{ event.latitude }}  </td>
                        <td> {{ event.longitude }}  </td>-->
        <!-- <div class="col-md-1"></div>-->
        <div scrollend class="col-md-6" style="max-height: 450px; overflow: auto; overflow-y: scroll; padding-right: 0px;" id="eventList">
            <table class="table table-hover table-condensed" style="margin-bottom: 0px;">
                <!--<tr>
                    <th colspan="4"></th>
                    <th>Event</th>
                    <th>Where?</th>
                    <th>When?</th>
                </tr>-->
                <tr ng-repeat="event in eventDetails">
                    <td style="width: 22%; padding: 0px;">
                        <div><img ng-src="{{event.image}}" /></div>
                    </td>
                    <td style="width: 78%; padding: 0px;">
                        <div style="position: relative;">
                            <div class="titleWidth" style="padding-top: 10px; padding-bottom: 2px; font-size: larger;" title="{{event.title}}"><strong> <a href="{{event.url}}" target="_blank"> {{ event.title }} </a> </strong></div>
                            <div>
                                <span class="venueWidth" title="{{event.venue_name}}"><i class="fa fa-location-arrow"></i> &nbsp; {{ event.venue_name }}</span>
                                <span class="timeWidth" title="{{event.start_time}}"><i class="fa fa-calendar"></i> &nbsp; {{ event.start_time | dateInMillis | date: 'EEE, MMM dd yyyy, h:mm a'}}</span>
                            </div>

                            <div style="position: absolute; top: 74px; left: 405px;">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{event.url}}" title="Share on Facebook" target="_blank" class="btn">
                                    <!--<i class="fa fa-facebook-square"></i>--><i class="fa fa-facebook-square fa-2x"></i>
                                </a>
                            </div>
                            <div style="position: absolute; top: 80px; left: 330px;">

                                <span><a href=""><i class="fa fa-thumbs-o-up fa-2x" ng-click="likeEvent(event)" ng-class="isLoggedIn ? {'green' : event.toggleLikeColor} : {'green' : false}"></i></a></span>
                                &nbsp;&nbsp;&nbsp;
                                <span><a href=""><i class="fa fa-thumbs-o-down fa-2x" ng-click="dislikeEvent(event)" ng-class="isLoggedIn ? {'red' : event.toggleDislikeColor} : {'red' : false}"></i></a></span>
                            </div>
                            <div style="padding-top: 5px;"><a href="{{event.ticketLink}}" target="_blank"><span class="label label-success costWidth" title="{{event.price}}"> {{event.price}} </span></a></div>
                            <div style="width: 75%;"><span ng-repeat="cat in event.categories"><span class="label label-primary">{{cat.name | ampersand}}</span>   </span></div>
                        </div>
                    </td>
                    <!--<td style="width: 30%"> <br> <span> Where: {{ event.venue_name }} <hr style="margin-top: 10px; margin-bottom: 10px;"> {{ event.start_time }} </span> </td>-->
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <div ng-show="busy"><i class="fa fa-spin fa-spinner fa-2x" style="color: deepskyblue;"></i><!--<i class="fa fa-arrow-circle-o-down fa-2x"></i> &nbsp; More &nbsp; <i class="fa fa-arrow-circle-o-down fa-2x"></i>--></div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-6" id="map" style="padding-right: 0px;" map-lazy-load="http://maps.google.com/maps/api/js">
            <ng-map center="{{where}}" zoom="10" style="height: 450px;">
                <marker position = "{{e.latitude}},{{e.longitude}}"
                        ng-repeat="e in eventDetails"
                        on-click="clickEventInfo(event,e)">
                </marker>
                <info-window id="map-event" position="{{mapEvent.latitude}},{{mapEvent.longitude}}">
                    <div ng-non-bindable="" style="width: 100%;">
                        <!--Event: {{mapEvent.title}}<br>
                        Where?: {{mapEvent.venue_name}}<br>
                        When?: {{mapEvent.start_time}}-->
                        <h4 class="titleWidth"> <a href="{{mapEvent.url}}" target="_blank"> {{ mapEvent.title }} </a></h4>
                        <div><i class="fa fa-location-arrow"></i> &nbsp; {{ mapEvent.venue_name }} </div>
                        <div><i class="fa fa-calendar"></i> &nbsp; {{ mapEvent.start_time  | dateInMillis | date: 'EEE, MMM dd yyyy, h:mm a'}} </div>
                        <a href="{{mapEvent.ticketLink}}" target="_blank"><div class="label label-success">{{mapEvent.price}} </div></a>
                        <div><span ng-repeat="cat in mapEvent.categories"><span class="label label-primary">{{cat.name | ampersand}}</span>   </span></div>
                    </div>
                </info-window>
                <marker position="current-location"
                        icon="images/me.png"></marker>
                <!--<info-window id="foo" position="current-location">
                    <div ng-non-bindable="">
                        <div>
                            Hi, You are here!
                        </div>
                    </div>
                </info-window>-->
            </ng-map>
        </div>
        <!-- <div class="col-md-1"></div> -->

        <!--   <div class="col-md-3">
               <pre ng-show="visibility"> {{eventDetails | json}}</pre>
           </div> -->

    </div>

    <div id="loader" ng-show="loader">
        <!--<i class="fa fa-spin fa-refresh fa-5x" style="position: fixed;
    left: 25%;
    top: 50%;
    z-index: 9999;"></i>-->
        <div class="ball"></div>
    </div>

    <!--Changed on Dec02-->
    <div style="color: lightskyblue; position: absolute; left: 17%; top: 60%;" ng-show=showErr>
        <h2>{{error}}</h2>
    </div>


</div>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '100410260332059',
            xfbml: true,
            version: 'v2.5'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>