.navbar-custom
{
    color: white;
    font-weight: bold;
    font-size: large;
    background:lightskyblue;
}

.navbar-msd
{
	height: 50px;
	padding: 15px;
    font-size: 30px;
    font-style: italic;
    background:lightskyblue;
}

.navbar-fixed-top
{
    height: 60px;
}

html,body,#map { height: 100%; }

.table
{
    table-border-color-dark: turquoise;
}

.centerTable 
{
     margin: 0px auto; 
	 border: 1px solid black;
}

.btn {
    border: 0 none;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: lightskyblue;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: lightskyblue;
    color: gray;
}

.btn-primary:active, .btn-primary.active {
    background: lightskyblue;
    box-shadow: none;
}


/*LOGIN CSS*/

.login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
.login-dp .help-block{
    font-size:12px
}
.login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
.login-dp .social-buttons{
    margin:12px 0
}
.login-dp .social-buttons a{
    width: 49%;
}
.login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.costWidth{
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.titleWidth{
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.venueWidth{
    width: 50%;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.timeWidth{
    width: 50%;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

@media(max-width:768px){
    .login-dp{
        background-color: inherit;
        color: #fff;
    }
    .login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/*tr {
    cursor: pointer;
}*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: lightskyblue;
}

.ball {
    position: fixed;
    left: 25%;
    top: 60%;
    z-index: 9999;
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

.red{
    color: red;
}

.green{
    color: green;
}

.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}